@import "tailwindcss";

html, body {
  background-color: #000;
  overscroll-behavior: none;
}

@theme {
    --color-primaryLight: #e5e5e5;
    --color-primaryDark: #1a1a1a;
  
    --color-secondaryLight: #3a5a40;
    --color-secondaryDark: #2d4734;
  
    --color-textLight: #222222;
    --color-textDark: #f4f4f4;
  
    --color-accentLight: #a3b18a;
    --color-accentDark: #588157;

    --color-borderDebug: #1c1917;

    --color-fg: #fefae0;
    /* --color-fg: #ffffff; */
    --color-bg: #1c1917;
    /* --color-bg: #000000; */

    --color-easy: #5498ab;
    --color-good: #6a994e;
    --color-hard: #e0953e;
    --color-fail: #b93133;

    --color-noteProgress: #00ff00;
    --color-practiced: #6a994e;
    --color-mastered: #5498ab;
    --color-unpracticed: #78716c;
  }