@import "tailwindcss";

@theme {
    --color-primaryLight: #e5e5e5;
    --color-primaryDark: #1a1a1a;
  
    --color-secondaryLight: #3a5a40;
    --color-secondaryDark: #2d4734;
  
    --color-textLight: #222222;
    --color-textDark: #f4f4f4;
  
    --color-accentLight: #a3b18a;
    --color-accentDark: #588157;

    --color-borderDebug: #000000;

    --color-fg: #fefae0;
    --color-bg: #000000;

    --color-easy: #5498ab;
    --color-good: #6a994e;
    --color-hard: #e0953e;
    --color-fail: #9e2a2b;

    --color-noteProgress: #00ff00;
    --color-practiced: #6a994e;
    --color-mastered: #5498ab;
    --color-unpracticed: #bbbbbb;
  }